@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

#weather
{
    height: 420px;
    width: 310px;
    margin-left: 15px;
    border:2px black solid;
    margin-top:40px;
    border-radius: 14px;
    text-align: center;
    background: linear-gradient(to right, rgb(55, 59, 68), rgb(66, 134, 244));
    
     
}

#we
{
    font-size: 30px;
    color:rgb(177, 209, 231);
    font-family: 'Crete Round', serif;
}

#im
{
    height: 70px;
}

#dat
{
    margin-top: 15px;
    font-size: 20px;
    color:rgb(233, 233, 233);
}

#tim
{
    font-size: 19px;
    color:rgb(233, 233, 233);



}

#dt
{
    
    height:fit-content;
    width: 150px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    border:2px solid black;
    border-radius: 40px;
    box-shadow: 3px 5px 10px black;
    background-color: cornflowerblue;
}
